@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Freeman&family=League+Spartan:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-fredoka: 'Fredoka One', cursive;
    --font-freeman: 'Freeman', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-spartan: 'League Spartan', sans-serif;
}

* {
    font-style: normal;
}